---
interface Props {
    sdgNumber: number;
    title: string;
    description: string;
    colorClass?: string;
    icon?: string;
}

const {
    sdgNumber,
    title,
    description,
    colorClass = "bg-blue-600",
} = Astro.props;
---

<div
    class="group relative flex flex-col justify-start items-center text-center p-1 sm:p-2 md:p-4 w-full"
>
    <div
        class="w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 mb-2 md:mb-6 shadow-sm group-hover:-translate-y-2 transition-transform duration-300 rounded-xl overflow-hidden"
    >
        <img
            src={`https://sdgs.un.org/sites/default/files/goals/E_SDG_Icons-${sdgNumber < 10 ? "0" + sdgNumber : sdgNumber}.jpg`}
            alt={`SDG ${sdgNumber}: ${title}`}
            class="w-full h-full object-cover"
        />
    </div>
    <h3
        class="text-xs sm:text-sm md:text-xl font-bold text-gray-900 mb-1 leading-tight"
    >
        <span class="md:hidden"
            >SDG<br class="hidden sm:block" /> #{sdgNumber}</span
        >
        <span class="hidden md:inline">{title}</span>
    </h3>
    <p class="hidden md:block text-gray-500 text-sm leading-relaxed">
        {description}
    </p>
</div>
